#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
# 
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

[mysqld_safe]
socket		= /var/run/mysqld/mysqld.sock
nice		= 0

[mysqld]
port = 3306
bind-address = 0.0.0.0
skip_name_resolve
skip_external_locking
default_storage_engine = InnoDB
transaction_isolation = READ-COMMITTED ## XXX: 要調整

## network
max_allowed_packet = 16M
max_connections = 1000
max_connect_errors = 10000

## cache size
table_open_cache = 2000
thread_cache_size = 100
query_cache_type = 1
query_cache_size = 200M
binlog_cache_size = 16M
max_heap_table_size = 64M
tmp_table_size = 64M

## log
## TODO: 提出前に消すこと
log_error = /tmp/mysql-error.log

## slow query log
## TODO: 提出前に消すこと
slow_query_log = 1
slow_query_log_file = /tmp/mysql-slow.log
long_query_time = 0.1
log_queries_not_using_indexes

## innodb
innodb_buffer_pool_size = 2G ## XXX: 要調整
innodb_data_file_path = ibdata1:10M:autoextend
innodb_log_buffer_size = 16M
innodb_log_file_size = 512M
innodb_doublewrite = 0
innodb_lock_wait_timeout = 5
innodb_support_xa = 1
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = O_DIRECT ## XXX: 要調整
innodb_file_per_table
